@model courseWORK.Models.UserState

@{
    ViewBag.Title = "UserInfo";
}

<h2>UserInfo</h2>

<div>
    <h4>UserState</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Point)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Point)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountWin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountWin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
